@import "tailwindcss";


body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  background-color: #050816;
  color: rgb(238, 238, 238);
  scroll-behavior: smooth;
  color-scheme: dark;
  outline: 1px solid rgb(143, 218, 23);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.bg-custom {
  background-image: url('/herobg.png');
  background-size: cover;
  background-position: center;
}
